{{define "title"}}ome{{end}}

{{define "main"}}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas libero urna, tempus eget malesuada a, luctus id
    ligula. In diam nunc, finibus vestibulum pretium a, ultricies nec nisi. Fusce vehicula porta ante, eget tincidunt
    leo rutrum ut. Phasellus varius libero sit amet arcu hendrerit, eu facilisis purus pellentesque. Donec molestie
    libero et elit varius euismod. In hac habitasse platea dictumst. Aliquam eget sapien metus. Vivamus maximus augue
    orci, at mollis nibh ultrices vel. Pellentesque suscipit imperdiet molestie. Quisque vulputate nec risus in rutrum.
</p>
{{end}}